.changeContainer{
    max-width: 700px;
    font-size: 18px;
    font-weight: normal;
    margin:auto;
    padding: 10px;
}

.btnDel{
    padding: 10px;
    width: 50px;
    background-color: #da5757;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    margin: 25px 70px 40px 10px;
    font-size: 20px;
    cursor: pointer;
}

.btnDelContainer{
    display: flex;
    justify-content: end;
}

.btnDelContainer label{
    font-size: 18px;
}

.changeContainerContent h1{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: center;
}

.changeContainerContent {
    padding: 20px;
    border-radius: 5px;
}

.changeFields{
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
    /* border: 1px solid black; */
}

.wrapper{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid ;
    border-bottom-color: white;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116) ;
    width: 100%;
}

.changeAnswers{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.queryAnsw{
    margin-bottom: 5px;
}
.wrapperBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapperBtn input{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    letter-spacing: 1px;
    padding: 7px;
    outline: none;
    width: 80%;
    margin: 10px 0 10px 0;
    width: 50%;
    font-size: 16px;
}

.btn{
    padding: 5px 12px 5px 12px;
    background-color: #048cfa;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.btnTest{
    margin: 50px;
    padding: 10px;
    background-color: #048cfa;
    border-radius: 50%;
    max-width: 5%;
}

.fieldsDelBtn{
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 3px;
    border-radius: 50%;
    font-size: 10px;
    background-color: #be3535;
    width: 20px;
    transition: 0.3s;
}

.answerDelBtn{
    color: rgb(255, 0, 0);
    font-weight: bolder;
    padding: 2px;
    border-radius: 5px;
    font-size: 10px;
    transition: 0.3s;
}

.fieldsDelBtn:hover{
    background-color: #d82525;
}

.answerDelBtn:hover{
    background-color: #d8252534;
}