.changeContainer{
    max-width: 650px;
    font-size: 18px;
    font-weight: normal;
    margin:auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.btnDel{
    padding: 10px;
    width: 50px;
    background-color: #da5757;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    margin: 25px 70px 40px 10px;
    font-size: 20px;
    cursor: pointer;
}

.btnDelContainer{
    display: flex;
    justify-content: end;
}

.btnDelContainer label{
    font-size: 18px;
}

.changeContainerContent h1{
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 10px;
    text-align: center;
}

.changeFields{
    padding: 9px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: white;
}

.wrapper{
    border-bottom: 1px solid ;
    border-bottom-color: white;
    padding-bottom: 10px;
}

.queryAnsw{
    margin-bottom: 5px;
}
.wrapperBtn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapperBtn input{
    border-radius: 3px;
    font-size: 16px;
    padding: 2px;
    box-shadow: 1px 1px 1px 1px #c7c7c7;
}

.btn{
    padding: 5px 12px 5px 12px;
    background-color: #048cfa;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.btnTest{
    margin: 50px;
    padding: 10px;
    background-color: #048cfa;
    border-radius: 50%;
    max-width: 5%;
}

