.formContainer{
    padding: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25), -2px -2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    max-width: 700px;
    max-height: 700px;
    margin: auto;
    margin-bottom: 50px;
}

.formContainer .formH{
    font-size: 20px;
    margin-bottom: 5px;

}

.formContainer .formP{
    font-size: 18px;
    margin-bottom: 40px;
}