.profileContainer{
    padding: 100px 150px;
    font-size: 18px;
}

.containerWrap{
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.57);
    display: flex;
    padding: 50px;
}

.profileWrap{
    margin-right: 150px;
}

.profileImg{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.57);
}

.answerDelBtn{
    font-size: 14px;
}

.changePsw{
    font-size: 16px;
    border-bottom: 1px solid;
    width: 130px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.delProfile{
    font-size: 16px;
    border-bottom: 1px solid;
    width: 130px;
    padding-bottom: 3px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}


.sessionsWrap{
    display: flex;
}

.sessions{
    padding: 15px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.57);
    border-radius: 10px;
    max-height: 200px;
    max-width: 270px;
    margin-right: 50px;
}

.sessions button{
  margin-left: 255px;
}

.changePsw:hover{
    color: #048cfa;
}

.delProfile:hover{
    color: #fa0404;
}
